<form class ="form-control m-5" action="/answer" data-turbo="false" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
